.list {
  list-style: none;
}

.img {
  width: 320px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 3px 3px 8px #8f8f8f, inset -3px -3px 8px #ffffff;
  transform: all 250ms linear;
}

button.change-color {
  width: 88px;
  height: 88px;
  border: none;
  background-color: transparent;
}

button[data-create],
button[data-destroy] {
  width: 88px;
  height: 40px;
  border: 15px;
}

span {
  margin: 0 15px;
}

button:active {
  position: relative;
  top: 3px;
}

ul {
  list-style: none;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-basis: calc((100% - 60px) / 3);
}

.gallery > li {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
  overflow: hidden;
  transition: all 250ms ease-in;
  transform: scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
